<!DOCTYPE html>
<html lang="es">

<head>
    <title>Producto</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="styles/producto.css" />
</head>

<body>
    <div id="app">
        <fieldset id="formulario">
            <legend>Añadir un producto</legend>
            <form>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="nombre-producto">Nombre</label>
                            </td>
                            <td>
                                <input id="nombre-producto" class="entrada-datos" v-model="nombre" type="text" placeholder="Mantequilla..." /> <br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="descripcion-producto">Descripción</label>
                            </td>
                            <td>
                                <input id="descripcion-producto" class="entrada-datos" v-model="descripcion" type="text" placeholder="Mantequilla con sal..." /> <br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--Importante: Validar precio-->
                                <label for="precio-producto">Precio</label>
                            </td>
                            <td>
                                <input id="precio-producto" class="entrada-datos" v-model="precio" type="number" placeholder="$ 1234567890" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>
            <button id="btn-anadir" v-on:click="anadirProducto(nombre,descripcion,precio)">Añadir</button>
        </fieldset>

        <table id="tabla-productos">
            <thead>
                <tr id="tr-th-productos">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Precio
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr is="fila-producto" v-for="producto in listaProductos" v-bind:producto="producto">
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/code.js"></script>

</body>

</html>