body {
    font-family: Arial, Helvetica, sans-serif;
}

.entrada-datos {
    padding: 5px;
}

#formulario {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

#btn-anadir {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tabla-productos {
    width: 80%;
    margin-top: 50px;
    margin-left: 60px;
    background-color: #f5efef;
}

#tabla-productos,
th,
td {
    text-align: left;
    border-collapse: collapse;
    padding: 5px;
}

#tr-th-productos {
    color: white;
    background-color: #2e946c;
}