body {
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#calculadora {
    margin-left: 100px;
    width: 200px;
    font-size: 2em;
}

#resultado,
#operacion {
    text-align: right;
    font-size: 3em;
    margin-left: 100px;
    width: 200px;
}

td {
    cursor: pointer;
    padding: 15px;
    background-color: #bdbdbd;
}

#calculadora,
td {
    border: 1px solid black;
    border-collapse: collapse;
}