body {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-enviar {
    margin-top: 20px;
}

.campo-formulario {
    margin-top: 10px;
}

.input-formulario {
    width: 100%;
    font-size: 1em;
    padding: 8px;
}