body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#tabla {
    width: 100%;
}

th {
    text-align: left;
    background-color: #b76bed;
    padding: 5px;
}

td {
    background-color: #f2c3c5;
    padding: 5px
}

#tabla,
th,
td {
    border-collapse: collapse;
}