h3 {
    background-color: black;
    color: white;
    font-style: oblique;
    font-weight: 900;
}

* {
    text-align: center;
    margin: 20px;
    font-family: Arial, Serif, Georgia;
}

#contenedor1 {
    color: red;
}

#principal1 {
    color: green;
}

.texto-destacado {
    color: #64f796;
}

h4,
h5 {
    background-color: #c68d3b;
    font-size: 200%;
}

p span {
    background-color: #abf1f2;
    color: #277849;
    font-size: xx-large;
    text-decoration: underline;
}

#parrafo1 {
    word-spacing: 0.8em;
}

#parrafo2 {
    letter-spacing: -0.1em;
}

#parrafo3 {
    line-height: 200%;
    background-color: #abf1f2;
}

#div1 {
    background: url(telegram_logo.png);
    background-repeat: repeat-x;
}

#img01 {
    margin: 5em 5em;
}

#h301 {
    padding: 3em;
}

#div2 {
    float: right;
}