@media(max-width:600px) {
    div {
        margin: 0;
        padding: 1px;
        background: red;
    }
}

@media(min-width:600px) {
    div {
        margin: 10px;
        padding: 10px;
        background: #446ba3;
    }
}