<!DOCTYPE html>
<html lang="es">

<head>
    <title>Vue Ejemplo</title>
    <meta charset="UTF-8" />
</head>

<body>

    <div id="app">

        <input v-model="message" />

        <!--Para el desafío, utilizar metodos-->
        <button v-on:click="addNombre(message)">Agregar</button>

        <!--Para la tarea, el componente debe permitir ajustarse a la tabla cada que se agregue un nuevo dato-->

        <ul>
            <!--Lo de key:"index" es opcional, de momento-->
            <li v-for="(item, index) in array2" :key="index">
                {{ item }}
            </li>
        </ul>
        <ul>
            <!--Lo de key:"index" es opcional, de momento-->
            <li v-for="(item, index) in array" :key="index">
                {{ item.nombre }}
            </li>
        </ul>

        <!--Ejemplo de componente-->
        <item-vue titulo="Hola" subtitulo="Mundo"></item-vue>

        <!--Hay estructuras HTML que no soportan componentes Vue-->
        <!--En esos casos se usa is-->
        <ul>
            <li is="item-vue" titulo="Hello"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>