.texto-opciones {
    font-size: large;
    margin-top: 20px;
}

#zona-opciones {
    margin-top: 30px;
}

#titulo {
    font-size: 2em;
}

#caja-comentario {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

#comentario {
    resize: none;
}

#items-navbar {
    margin-left: 40px;
}

#contenido-presentacion {
    margin-top: 20px;
}

.imagen-opciones {
    border: 1px solid black;
}

#titulo-comentarios {
    font-size: 1.8em;
    margin-left: 40px;
    margin-top: 30px;
}

#vista-comentarios {
    margin-left: 40px;
    margin-right: 40px;
}

#btn-enviar-comentario {
    margin-left: 40px;
}

#aviso-suscripcion {
    margin-top: 100px;
    font-size: 3em;
}

#texto-presentacion {
    font-size: 1.2em;
}

#titulo-zona-opciones {
    margin-top: 100px;
    font-size: 2em;
}

#btn-suscribirse {
    margin-top: 20px;
}